.profile {
    display: flex;
    margin: 0 auto;
    padding: 34px 0 20px;
    border-bottom: 1px solid #21212166;
}

.profile__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.profile__avatar {
    border-radius: 8px;
    height: 190px;
    width: 190px;
    margin-right: 20px;
}

.profile__icon_plus {
    color: #FCF5E5;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    max-width: 420px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__description {
    margin: 0 ;
    color: #212121B2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__edit-btn {
    display: flex;
    background-color: transparent;
    margin-top: auto;
    padding: 0px;
    border-color: transparent;
    width: auto;
    gap: 8px;
    opacity: 70%;
    cursor: pointer;
}

.profile__add-btn {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 100%;
    width: 149px;
    height: 52px;
    background-color:  #212121;
    border-radius: 8px;
    color: #FCF5E5;
    padding: 0;
    cursor: pointer;
    gap: 8px;
align-items: center;
justify-content: center; 
}

.profile__add-btn:hover {
    opacity: 80%;
}

.profile__name {
    font-size: 32px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 627px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }
    .profile__name {
        font-size: 20px;
        margin: 0 0 6px;
    }

    .profile__avatar {
      margin: 0 0 12px;
      height: 80px;
      width: 80px;  
    }

    .profile__add-btn{
        margin: 0 auto;
        width: 288px;

    }
    .profile__column {
        align-items: center;
        margin: 0 0 20px;
    }

    .profile__edit-btn {
        margin-top: 32px;
    }
}
